
$background-color: rgb(56, 167, 231);

html,
body {
    height: 100%;
    color: rgb(255, 255, 255);
    background-color: $background-color;
}

main {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    .box {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .trigger,
    a {
        font-size: 20px;
        color: #fff;
        background-color: $background-color;
        padding: 10px;
        margin: 10px;
        text-decoration: none;
        border: 2px solid #fff;
        border-radius: 10px;
        &:hover {
            background-color: darken($background-color, 10%);
        }
    }
}


